.App {
  text-align: center;
}

section {
  padding: 1rem;
}

.contents {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
}

.header {
  background-color: rgb(102, 102, 160);
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  align-items: center;
}

.header h2 {
  color: #fff;
}

.header select {
  height: 30px;
  width: 140px;
  border-radius: 5px;
  border: none;
}
